.grid-container{
    margin-top: 2em;
    margin-bottom: 4em;
   
}
.Bando{
    text-align: center;
    margin: 2em;
}
.Uncontrolled{
   margin-left: 24%;
    width: 50vw;
    height: 50vh;
}
	
.img-container:hover img {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    transition: 2s;
}

.img-contenedor {
    overflow:hidden;
}


@media only screen and (max-width: 600px) {
    .Uncontrolled{
        margin-left: 0;
        width: 100vw;
  
        display: flex;
        justify-content: center;
        align-items: center;
    
     }

}
